.body-konlar {
    background: #fffce6;

}

.konular-box {
    border-radius: 5px;
    width: 1000px;
    height: auto;
    padding: 70px 120px;
    margin-left: 180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
   
}

.congress-content h1 {
    font-size: 42px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;

}

.congress-content p {
    font-size: 25px;
    color: #000000;
    line-height: 1.9;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:left;
}

span {
    color: #000000;
    margin-right: 10px;
    font-size: 24px;
}


   /* Mobil için özel düzenleme */
@media (max-width: 768px) {
    .congress-content {
        padding: 0 10px;
        /* Kenarlara yapışmasını önler */
    }

    .container {
        width: 90%;
        max-width: 100%;
        padding: 0 10px;
    }

    .konular-box {
        margin: 0;
        font-size: 5px;
    }
}

