.body-program {
  background:#fffce6;
  min-height: 1200px;
}

.scientific-program {
  margin-top: 60px;
  max-width: 1100px;
  min-height: 600px;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000000;
  border-radius: 5px;
  overflow: hidden;
  padding: 40px;
 /* background: rgb(255, 222, 191);
  background: linear-gradient(150deg, rgba(255, 222, 191, 0.5265755960587359) 18%, rgba(255, 248, 191, 0.38371845320159315) 85%);*/
}

.scientific-program h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 10px;
  
}

.day-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 25px;
  
}

.day-selector button {
  padding: 10px 20px;
  font-size: 25px;
  border: 3px solid #000000;
  border-radius: 3px;
  background-color: #ff9742;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.day-selector button.active {
  background-color: #ffe0b2;
  border-color: #f7892f;
  
}

.day-selector button:hover {
  background-color: #ecc9a1b9;
}

.program-details {
  border-top: 9px solid #e28b19;
  border-bottom: 9px solid #e28b19;
}

.program-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #6b6b6b;
  background-color: #ffe0b2;
}

.program-item:nth-child(odd) {
  background-color: #eef6f8;
}

.program-item:last-child {
  border-bottom: none;
}

.time {
  flex: 1;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

.topic {
  flex: 3;
  font-size: 16px;
  color: #000000;
}

.program-item.break {
  background-color: #f18518;
  text-align: center;
  font-weight: bold;
  color: #333;
  padding: 10px;
  text-transform: uppercase;
}

.program-item.break .time {
  display: none;
}

.program-item.break .topic {
  flex: 1;
}

@media (max-width: 768px) {
  .program-item {
    flex-direction: column;
    text-align: center;
  }

  .time {
    margin-bottom: 5px;
  }

  .topic {
    text-align: center;
  }
  .day-selector{
   
    height: auto;
  }
}
